.inblock {
  display: inline;
}
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #181818;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
.bg-transparent {
  background: rgba(0, 0, 0, 0);
}
.bg-half-transparent {
  background: rgba(0, 0, 0, 0.6);
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
  max-width: 280px;
}
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
  display: inline-block;
  content: "[";
  padding-right: 0.5em;
}
.btn-bracketed::after {
  display: inline-block;
  content: "]";
  padding-left: 0.5em;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}
.logo {
  height: 130%;
}
.image-bg-fluid-height {
  background: url(../images/background.jpg) no-repeat center center fixed;
  padding: 100px 0;
  width: 100%;
}
.img-center {
  margin: 0 auto;
}
.img-overlay {
  position: absolute;
  padding-top: 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.login-button {
  margin: 10px 0 10px 0;
}
.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}
.btn-white-font a {
  color: white;
  text-decoration: none !important;
}
hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0));
}
.font-lato {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 800;
  font-size: 40px;
  font-family: 'Lato', sans-serif;
}
h2 {
  font-weight: 200;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
}
.remove-space {
  padding: 0;
  margin: 0;
  margin-bottom: -15px;
}
.topic h1 {
  padding: 0;
  margin: 0;
  margin-bottom: -15px;
}
.bg-red {
  background: rgba(255, 0, 0, 0.5);
}
.group-options h1,
.group-options h2 {
  margin: 0;
}
.group-options .btn {
  width: 100%;
  margin: 5px 0 5px 0;
}
.btn-grey {
  background: #101010;
  color: #cccccc;
  border: 2px solid black;
}
.btn-grey:hover {
  background: #f6492b;
  color: #ffffff;
}
.btn-grey:active,
.btn-grey:focus {
  color: #ffffff;
  background: #404040;
}
.description {
  margin: 20px 0 20px 0;
}
.description div > h1 {
  margin-right: 10px;
}
.bold {
  font-weight: 800;
}
.thin {
  font-weight: 300;
}
.single-comment {
  border-radius: 10px;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: black;
}
.single-comment hr {
  margin: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}
.single-comment:hover {
  background: #090909;
}
.font-grey {
  color: #999999;
}
.molten-core-bold {
  height: 20px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f6492b, rgba(0, 0, 0, 0));
}
.group-list .molten-core {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f6492b, rgba(0, 0, 0, 0));
}
.group-list a {
  color: #fc9a07;
  text-decoration: none;
}
.group-list a:hover {
  color: #ffffff;
}
.group-list hr {
  margin: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(246, 73, 43, 0.1), rgba(0, 0, 0, 0));
}
.group-list li {
  font-size: 28px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(246, 73, 43, 0.1), rgba(0, 0, 0, 0));
}
.group-list li:hover {
  animation: rgb 0.5s;
  animation-fill-mode: forwards;
}
@keyframes rgb {
  /* 0% will fallback to the default background-color of #rgb*/
  100% {
    background-color: rgba(246, 73, 43, 0.1);
    /*red*/
  }
}
.fade {
  opacity: 1;
}
.fade .showthis {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.fade .hidethis {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.fade:hover .hidethis {
  opacity: 0;
}
.fade:hover .showthis {
  opacity: 1;
}
.group-list-sm .molten-core {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f6492b, rgba(0, 0, 0, 0));
}
.group-list-sm a {
  color: #fc9a07;
  text-decoration: none;
}
.group-list-sm a:hover {
  color: #ffffff;
}
.group-list-sm hr {
  margin: 5px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(246, 73, 43, 0.1), rgba(0, 0, 0, 0));
}
.group-list-sm li {
  font-size: 28px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(246, 73, 43, 0.1), rgba(0, 0, 0, 0));
}
.group-list-sm li:hover {
  animation: rgb 0.5s;
  animation-fill-mode: forwards;
}
@keyframes rgb {
  /* 0% will fallback to the default background-color of #rgb*/
  100% {
    background-color: rgba(246, 73, 43, 0.1);
    /*red*/
  }
}
.group-list-sm li {
  font-size: 15px;
}