@model KPcore.ViewModels.TopicViewModels.TopicDetailsViewModel
<div class="text-center group-list-sm space-before border-transparent">
    <h3>Członkowie:</h3>
    <hr class="molten-core" />
    <ul class="list-unstyled">

        @if (Model.Group != null)
        {
            <li>
                <div class="list-item-info">
                    Lider: <a href="#">@Model.GroupLeader.FirstName @Model.GroupLeader.LastName</a>
                    <hr class="hr-narrow" />
                </div>
            </li>
            foreach (var s in Model.GroupMembers)
            {
                <li>
                    <div class="list-item-info">
                        <a href="#">@s.FirstName @s.LastName</a>
                        <hr class="hr-narrow" />
                    </div>
                </li>
            }
        }
        else
        {
            <li>
                <div class="list-item-info">
                    Brak członków do wyświetlenia.
                    <hr class="hr-narrow" />
                </div>
            </li>
        }
    </ul>
</div>

