@model CreateTopicViewModel

@{
    ViewData["Title"] = "Nowy temat";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SelectedSubjectId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SelectedSubjectId" asp-items="ViewBag.SubjectList" class="form-control"></select>
                <span asp-validation-for="SelectedSubjectId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MeetingsDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MeetingsDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="MeetingsDate" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zatwierdź" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
