@model CreateTopicViewModel

@{
    ViewData["Title"] = "Nowy temat";
}

<div class="title">
    <h2>@ViewData["Title"]</h2>
    <p class="text-success">@ViewData["StatusMessage"]</p>
    <hr />
</div>

<form asp-action="Create">
    <div class="form-horizontal custom-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span asp-validation-for="Title" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <div>
                <input asp-for="Title" class="form-control" placeholder="Nazwa tematu" />
            </div>
        </div>

        <span asp-validation-for="Description" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <div>
                <textarea asp-for="Description" rows="6" class="form-control" placeholder=""></textarea>
            </div>
        </div>

        <span asp-validation-for="SelectedSubjectId" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="SelectedSubjectId" class="control-label"></label>
            <div>
                <select asp-for="SelectedSubjectId" asp-items="ViewBag.SubjectList" class="form-control"></select>
            </div>
        </div>

        <span asp-validation-for="MeetingsDate" class="text-danger"></span>
        <div class="form-group">
            <label asp-for="MeetingsDate" class="control-label"></label>
            <div>
                <input asp-for="MeetingsDate" type="datetime-local" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Zatwierdź" class="btn btn-success" />
            <a asp-action="index" class="btn btn-danger">Anuluj</a>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
