@model DeadlineViewModel

@{
    ViewData["Title"] = "Dodaj termin";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AddDeadline">
    <div class="form-horizontal">
        <h3>Grupa: @*@Model.Group.Name*@</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.TextBoxFor(m => m.GroupId, new { type = "hidden" })
        @Html.TextBoxFor(m => m.TopicId, new { type = "hidden" })

        <div class="form-group">
            <label asp-for="DeadlineDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DeadlineDate" type="datetime-local" class="form-control" />
                <span asp-validation-for="DeadlineDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger" />
            </div>
        </div>
        <div class="form-group ">
            <div class="col-sm-8 col-sm-offset-1 text-right">
                <input type="submit" value="Zatwierdź" class="btn btn-success" />
                @Html.ActionLink("Wróć", "Details", "Topic", new { id = Model.TopicId }, new { @class = "btn btn-grey" })
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
