@model GroupViewModel

@{
    ViewData["Title"] = "Tworzenie grupy";
}

<div class="title">
    <h2>@ViewData["Title"].</h2>
    <p class="text-success">@ViewData["StatusMessage"]</p>
    <hr />
</div>
<form asp-action="Create">
    <div class="form-horizontal custom-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="form-group">
            <label class="control-label">Nazwa: <i class="fa fa-pencil" aria-hidden="true"></i></label>
            
            <div>
                <input asp-for="Name" class="form-control" placeholder="Nazwa grupy" />
            </div>
        </div>
            <input type="submit" value="Stwórz" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-danger">Anuluj</a>
    </div>
</form>
