@model KPcore.ViewModels.GroupViewModels.GroupDetailsViewModel

@{
    ViewData["Title"] = "Szczegó?y";
}
<div>
    @Html.ActionLink("Edit", "EditGroup", new { id = Model.Id })
</div>

<div class="container-fluid">
    <!-- GROUP TITLE -->
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center group-title">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>
                    @Html.DisplayFor(model => model.Name)
                </h1>
            </div>
            <div class="col-sm-1 text-right text-small">
                <dl>
                    <dd>Edytuj</dd>
                    <dd>Usun</dd>

                </dl>

            </div>
            <div class="col-sm-12">
                <hr class="molten-core-bold" />
                @{
                    if (Model.TopicId != null)
                    {
                        <a href="#">
                            <h1>TEMAT JE?ELI JEST</h1>
                        </a>
                    }
                    else
                    {
                        <a href="#">
                            <h2>
                                <i class="fa fa-plus-square-o"></i> Dodaj temat do grupy
                            </h2>
                        </a>
                    }
                    <hr />
                }
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
    <!-- GROUP TITLE END -->
    <!-- CONTENT -->
    <div class=row>
        <!-- USER LIST -->
        <div class="col-sm-4">
            <div class="text-center group-list-sm">
                <h3>Users:</h3>
                <hr class="molten-core" />
                <ul class="list-unstyled">
                    @for (int i = 0; i < 10; i++)
                    {
                        <li>
                            <div class="list-item-info">
                                <a href="#">Imie nazwisko @i</a>
                                <hr class="hr-narrow" />
                            </div>
                        </li>
                    }
                    <li>
                        <div class="list-item-info">
                            <a href="#">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                            <hr class="hr-narrow" />
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ADD USER BUTTON -->
            <div class="row">
                <div class="text-center">
                    <a href="#" class="btn btn-grey">[ Dodaj ]</a>
                </div>
            </div>
            <!-- ADD USER BUTTON END -->
        </div>
        <!-- USER LIST END -->
        <!-- COMMENT SECTION START -->
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-9 text-center">
                    <span class="text-center">
                        <h2 class="inblock">KOMENTARZE</h2>
                    </span>
                </div>
                <div class="col-sm-3 text-center">
                    <span class="text-center add-comment">
                        <a href="#" class="btn btn-grey">DODAJ KOMENTARZ</a>
                    </span>
                </div>
            </div>
            <!-- COMMENT START -->

            @{for (int i = 0; i < 5; i++)
                {
                    <div class="row">
                        <div class="col-xs-12 single-comment">
                            <div class="row">
                                <div class="col-sm-10 bold inblock">
                                    IMIE NAZWISKO
                                </div>
                                <div class="col-xs-2 text-right">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-xs-12">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor leo, posuere quis nisi vel, rhoncus ultrices justo. Sed a sagittis tellus. Nullam in turpis a leo porta accumsan eu sit amet risus. Nam nibh turpis, gravida nec tempus at, rhoncus
                                    sit amet felis. Quisque ultrices nulla elit, in eleifend sapien pretium id. Nullam a tincidunt erat. Donec id maximus velit, ac cursus tortor. Suspendisse consectetur placerat malesuada. Nunc amet.
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 thin font-grey">
                                    <span>Data dodania:</span> <span class="bold">12.12.2016</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="row">
                <div class="col-xs-12 single-comment">
                    <div class="row">
                        <div class="col-sm-10 bold inblock">
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        </div>
                        <div class="col-xs-2 text-right">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 thin font-grey">
                            <span>Data dodania:</span> <span class="bold">12.12.2016</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- COMMENT END -->
        </div>
        <!-- COMMENT SECIONT END -->
    </div>
</div>