@model StudentGroupIndexViewModel
@{
    ViewData["Title"] = "Twoje grupy:";
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<div class=row>
    <div class="col-xs-6 col-xs-offset-3 text-center ">
        <h2>@ViewData["Title"]</h2>
        <hr class="molten-core" />
    </div>
</div>
<div class="row">
    <ul class="list-unstyled  text-center">
        @foreach (var g in Model.StudentGroups)
        {
            <li>
                <div class="group-list-sm col-xs-6 col-xs-offset-3 list-item-info">

                    @Html.ActionLink(g.Group.Name, "Details", new { groupId = g.GroupId })

                    <hr class="hr-narrow" />
                </div>
                <div class="col-xs-3 text-left list-item-options">
                    <a class="fa fa-minus-square-o fa-lg" title="Usuń grupę" aria-hidden="true"></a>
                    <a class="fa fa-pencil-square-o fa-lg" title="Edytuj grupę" aria-hidden="true"></a>
                </div>
            </li>

        }
        <li>
            <div class="group-list-sm col-md-6 col-md-offset-3">
                @Html.ActionLink("Stwórz nową grupę", "Create", "Group", null, new { @class = "btn btn-grey" })
            </div>
        </li>
    </ul>
</div>
