@model StudentGroupIndexViewModel
@{
    ViewData["Title"] = "Twoje grupy:";
}

<p class="text-success">@ViewData["StatusMessage"]</p>

<div>

    <div class=row>
        <div class="col-md-6 col-md-offset-3 text-center group-list-sm">
            <h2>@ViewData["Title"]</h2>
            <hr class="molten-core" />
            <ul class="list-unstyled">
                @foreach (var g in Model.StudentGroups)
                {
                    <li>
                        @Html.ActionLink(g.Group.Name, "Details", new { groupId = g.GroupId })
                        <hr />
                    </li>
                }
                <li>
                    @Html.ActionLink("Stwórz nową grupę", "Create", "Group", null, new {@class = "btn btn-grey"})
                </li>
            </ul>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
