@model StudentGroupIndexViewModel
@{
    ViewData["Title"] = "Twoje grupy:";
}


<div class=row>
    <div class="col-xs-6 col-xs-offset-3 text-center ">
        <h2>@ViewData["Title"]</h2>
        <hr class="molten-core" />
    </div>
</div>
<div class="row">
    <ul class="list-unstyled  text-center">
        <p class="text-success">@ViewData["StatusMessage"]</p>
        @foreach (var g in Model.StudentGroups)
        {
            <li>
                <div class="group-list-sm col-sm-6 col-sm-offset-3 list-item-info">

                    @Html.ActionLink(g.Group.Name, "Details", new { groupId = g.GroupId })

                    <hr class="hr-narrow" />
                </div>
            </li>

        }
        <li>

        </li>
    </ul>
    <div class="col-sm-6 col-sm-offset-3 text-center space-before">
        @Html.ActionLink("Stwórz nową grupę", "Create", "Group", null, new { @class = "btn btn-grey" })
    </div>
</div>
