@{
    ViewData["Title"] = "Contact";
}



<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center group-title">
        <h1>NAZWA GRUPY</h1>
        <hr />
        <h2>Nazwa przedmiotu</h2>
    </div>
</div>
<div class=row>
    <div class="col-md-8 col-md-offset-1 topic">
        <h1>Przykładowa nazwa tematu</h1>
        <h2>Prowadzący: Jan Kowalski</h2>
        <span class="date">Data dodania: </span>
        <span class="bold">12.12.2016</span>
    </div>
    <div class="col-md-2 group-options">
        <button class="btn btn-grey">[ Członkowie ]</button>
        <button class="btn btn-grey">[ Terminy ]</button>
    </div>
</div>
<div class="row description">
    <div class="col-md-3 text-right">
        <h1 class="thin">OPIS:</h1>
    </div>
    <div class="col-md-6">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac diam aliquam, interdum risus et, malesuada mauris. Phasellus id tincidunt magna. Integer non mattis mi. Duis finibus diam a libero ultricies, ut luctus purus tincidunt. In sit amet molestie felis. Nullam sed magna posuere urna mattis dapibus vel quis neque. Donec eu felis consequat, porttitor felis et, maximus arcu. Vestibulum faucibus justo nec turpis congue auctor. Praesent amet.</span>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 text-right">
        <h2>NAJBLIŻSZY TERMIN CZĄSTKOWY:</h2>
    </div>
    <div class="col-md-5">
        <h2 class="bold">23.10.2016</h2>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2 single-comment">
        <div class="row">
            <div class="col-md-11 bold">
                IMIE NAZWISKO
            </div>
            <div class="col-md-1 text-right">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor leo, posuere quis nisi vel, rhoncus ultrices justo. Sed a sagittis tellus. Nullam in turpis a leo porta accumsan eu sit amet risus. Nam nibh turpis, gravida nec tempus at, rhoncus sit amet felis. Quisque ultrices nulla elit, in eleifend sapien pretium id. Nullam a tincidunt erat. Donec id maximus velit, ac cursus tortor. Suspendisse consectetur placerat malesuada. Nunc amet.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 thin font-grey">
                <span>Data dodania:</span> <span class="bold">12.12.2016</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 single-comment">
        <div class="row">
            <div class="col-md-11 bold">
                IMIE NAZWISKO
            </div>
            <div class="col-md-1 text-right">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor leo, posuere quis nisi vel, rhoncus ultrices justo. Sed a sagittis tellus. Nullam in turpis a leo porta accumsan eu sit amet risus. Nam nibh turpis, gravida nec tempus at, rhoncus sit amet felis. Quisque ultrices nulla elit, in eleifend sapien pretium id. Nullam a tincidunt erat. Donec id maximus velit, ac cursus tortor. Suspendisse consectetur placerat malesuada. Nunc amet.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 thin font-grey">
                <span>Data dodania:</span> <span class="bold">12.12.2016</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2 single-comment">
        <div class="row">
            <div class="col-md-11 bold">
                IMIE NAZWISKO
                <hr />
            </div>
            <div class="col-md-1 text-right">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 thin font-grey">
                <span>Data dodania:</span> <span class="bold">12.12.2016</span>
            </div>
        </div>
    </div>
</div>