@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <header class="image-bg-fluid-height">
        <img class="img-responsive img-center" src="~/images/KuzniaProjektowLogoImpact.png" alt="">
    </header>
    <div class="img-overlay">
        <button class="btn btn-primary btn-lg btn-white-font" type="button">
            <a asp-area="" asp-controller="Account" asp-action="Login">
                Log in
            </a>
        </button>
    </div>
</div>