@{
    ViewData["Title"] = "Home Page";
}


<div class="row bg-transparent">
    <div class="col-md-10 col-md-offset-1 bg-half-transparent">
        <header class="image-bg-fluid-height">
            <img class="img-responsive img-center" src="~/images/KuzniaProjektowLogoImpact.png" alt="">
        </header>
        <div class="text-center text-capitalize login-button">
            <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-lg btn-grey">
                Log in
            </a>
        </div>
    </div>
</div>